body {
  font-family: 'Sanchez', 300;
  color: #333;
  font-size: 20px;
  margin: 0;
  padding: 0;
  padding-top: 70px;
}
h1 {
  text-align: center;
  color: #FFF;
  font-size: 40px;
  font-weight: normal;
  background-color: #F55;
  margin: 0;
  padding: 20px;
}
#content {
  margin: 10px;
}
#wrap {
  text-align: center;
}
#indexlink {
    font-weight: normal;
    color: #FFF;
    margin: auto 0px;
}

#indexlink a {
  color: #FFF;
}
h2 {
  font-weight: normal;
}

.line {
  fill: none;
  stroke: #55F;
  stroke-width: 2px;
}
#keystats {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.al {
  float: left;
  font-size: 16px;
  padding: 0;
  margin: 0;
}
.divkeys {
  height: 16px;
}
.legenddiv p {
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
  padding: 5px;
}
.skipdrawyes {
  text-decoration: line-through;
  color: #999 !important;
}
.skipdrawno {
  text-decoration: underline;
}
#keysummary {
  display: inline-block;
}
#timesummary {
  display: inline-block;
}
#summaries {
  margin-top: 30px;
  margin-bottom: 40px;
}